:root{
    --cor-neutra-0-: #0e0c0c;
    --cor-neutra-10-: #171717;
    --cor-neutra-30-: #a8a29e;
    --cor-neutra-40-: #f5f5f5;
    --azul01: #05B2DC;
    --azul02: #031A6B;
    --azul03: #033860;
    --azul04: #087CA7;
    --azul05: #004385;
    --azul06: #1172d1;
}



header {
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    z-index: 1;
    width: 100%;
    font-family: "Michroma";
    font-weight: bold;
    background: linear-gradient(180deg, rgba(3,26,107,1) 0%, rgba(17,114,209,1) 63%, rgba(5,146,220,1) 100%);
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
}

.link-pages {
    display: flex;
    gap: 3rem;
    
}

.item-page {
    padding: 10px;
    transition: all .3s;
    color: #f5f5f5;
}

.item-page:hover {
    color: var(--cor-neutra-30-);
}

.register {
    padding: 10px;
    background-color: var(--cor-neutra-40-);
    border: solid 4px var(--cor-neutra-40-);
    color: var(--azul02);
    border-radius: 10px;
    transition: all .3s;
}

.register:hover {
    border-color: var(--azul05);
}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .toggle_btn {
    color: var(--cor-neutra-40-);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.menu_dropdown {
    margin-top: 30px;
    display: none;
    position: absolute;
    right: 2rem;
    top: 92px;
    width: 300px;
    height: 0;
    background: #1171d19f;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: all .4s ease;
}

.menu_dropdown.open {
    height: 300px;
}

.menu_dropdown li {
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_dropdown .register {
    display: flex;
    align-items: center;
    justify-content: center;
}

.direita{
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* RESPONSIVIDADE */
@media(max-width: 1240px) {

    nav .link-pages,
    nav .register {
        display: none;
    }

    nav .toggle_btn {
        display: block;
    }

    .menu_dropdown {
        display: block;
    }
}

@media(max-width: 576px) {
    .menu_dropdown {
        left: 2rem;
        width: unset;
    }
    header{
        padding: 5px;
    }
    .label{
        margin: 0px;
    }
}