* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mina";
}

:root{
    --cor-neutra-0-: #0e0c0c;
    --cor-neutra-10-: #171717;
    --cor-neutra-30-: #a8a29e;
    --cor-neutra-40-: #f5f5f5;
    --azul01: #05B2DC;
    --azul02: #031A6B;
    --azul03: #033860;
    --azul04: #087CA7;
    --azul05: #004385;
    --azul06: #1172d1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(3,26,107,1) 0%, rgba(17,114,209,1) 63%, rgba(5,146,220,1) 100%);
}

.body-login {
    height: 100vh;
}

.container {
    font-family: "Mina";
    background-color: #fafafa;
    border-radius: 10px;
    margin: 30px;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 0 18px 0 #000;
    overflow: hidden;
}

.container-login {
    max-width: 600px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-carros {
    width: 500px;
    height: 250px;
    margin: 50px;
}

.header {
    font-family: "Michroma";
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azul06);
    padding: 25px;
    text-align: center;
    color: #fff;
}

.form {
    margin: 0 20px;
    padding: 18px;
    width: 80%;
}

.form-login {
    width: 100%;
}

.switch_account-type {
    padding: 8px;
    margin-top: 15px;
    text-align: center;
}

.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
    font-size: 20px;
}

.form-content label {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form-content input {
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    border: 2px solid #c7c7c7;
    transition: all .3s ease-out;
}

.form-content input:focus {
    scale: 1.02;
    background-color: #eeeeee;
}

.form-content a {
    position: absolute;
    bottom: -5px;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: #1877F2;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: all .3s ease-out;
}

.form button:hover {
    scale: 1.02;
    background-color: #c7c7c7;
    color: #000;
}

.form-content.error input {
    border-color: red;
}

.form-content.error a {
    font-size: 14px;
    color: red;
    visibility: visible;
}

@media(max-width: 1080px) {
    .img-carros {
        display: none;
    }

    .form {
        width: 100%;
        margin: 10px;
    }

    .container {
        max-width: 600px;
    }
}